{{-
  {
    "remark": "{{ item.remark }}",
    "address": "{{ item.address }}",
    "port": {{ item.port | int }},
    "apikey": "{{ item.apikey | default('') }}",
    "enabled": {{ item.enabled | default(true) | bool }},
    "tags": "{{ item.tags | default('') }}",
    "protocol": "{{ item.protocol | default('vless') }}",
    "transport": "{{ item.transport | default('none') }}",
    "tls": {{ item.tls | default(false) | bool }},
    "client_certificate_path": "{{ item.client_certificate_path | default('') }}"
  }
}}
