{
  "nodeId": {{ node_add_response.json.obj.id | int }},
  "address": "{{ node_add_response.json.obj.address }}",
  "listen": "0.0.0.0",
  "enable": true,
  "remark": "{{ serverspace_cities[hostvars[item].node_credentials.NODE_LOCATION] }}",
  "port": {{ node_add_response.json.obj.port | int }},
  "protocol": "vless",
  "sniffing": "{\"enabled\":true,\"destOverride\":[\"http\",\"tls\",\"quic\"]}",
  "settings": {{ {
    "clients": [],
    "decryptions": [],
    "fallbacks": []
  } | to_json }},
  "streamSettings": {{ {
    "network": "xhttp",
    "security": "reality",
    "externalProxy": [],
    "xhttpSettings": {
      "mode": "auto",
      "path": "/drivers/update",
      "host": "google.com"
    },
    "realitySettings": {
      "show": false,
      "xver": 0,
      "dest": "google.com:443",
      "serverNames": [ "google.com" ],
      "privateKey": private_key,
      "shortIds": [ short_id ],
      "settings": {
        "fingerprint": "chrome",
        "publicKey": public_key
      }
    }
  } | to_json }}
}
